        <div id="footer_list">
	  <ul> 
          <li style="display:inline"><a href="http://snalum.mit.edu">
 	  MIT alumni site
          </a></li> |
          <li style="display:inline"><a href="http://sigmanu.org">
          Sigma Nu national
          </a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

