<div id="links">
  <ul class="nav nav-tabs">
    <li>
      <a href="/">Welcome</a>
    </li>
    <li> 
      <a href="/rush/">Rush</a>
    </li>
    <li> 
      <a href="/brothers/">Brothers</a>
    </li>
    <li> 
      <a href="/house-tour/">House</a>
    </li>
    <li> 
      <a href="/academics/">Academics</a>
    </li>
    <li> 
      <a href="/athletics/">Athletics</a>
    </li>
    <li> 
      <a href="/social/">Social</a>
    </li>
  </ul>
</div>

